@using BusinessLogic.Models

@model PaginatedList<Recipe>
@{
    ViewData["Title"] = "Rezeptübersicht";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h1>Rezeptübersicht</h1>

<p style="text-align: center">
    <a asp-action="Index"
       asp-route-pageNumber="1"
       class="btn btn-default">
        |&lt; First
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
        class="btn btn-default @prevDisabled">
        &lt;&lt; Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
       Next &gt;&gt;
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.TotalPages)"
       class="btn btn-default">
        Last &gt;|
    </a>
</p>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.ImageUrl" alt="@item.Name" style="height: 225px; display: block; object-fit: cover">
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a role="button" class="btn btn-sm btn-outline-secondary"
                                        asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a role="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small class="text-muted">@item.PrepTimeMinutes + @item.CookTimeMinutes mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
